<h2 class="blue-header">Bands</h2>

<div class="band-listing">

</div>

<script type="text/template"id="band-list-template">
  <div class="row #ff5252 red accent-2">
    <div class="col s12">
      <div class="card #ff5252 red accent-2">
        <div class="card-content black-text">
          <span class="card-title">Band: <%= band_name %></span>
          <p>Email: <%= email %></p>
          <p>Website: <%= band_website %></p>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="new-band-template">
  <form class="new-band-form">
    <label>Name</label>
    <input id="register-name" name="band_name" type="text"></input>
    <label>Email</label>
    <input id="register-email" name="email" type="email">
    <label>Password</label>
    <input id="register-password" name="password" type="password"></input>
    <label>Password Confirmation</label>
    <input id="register-password-confirm" name="password_confirmation" type="password"></input>
    <label>Website</label>
    <input id="register-website" name='band_website' type="text"></input>
    <label>Photo</label>
    <input id="register-photo" name="photo_link" type="text">
    <button id='band-register'>Submit</button>
  </form>
</script>
