<h2 id="show-header" class="blue-header">Upcoming Shows</h2>

<div class="listing">

</div>

<script type="text/template" id="show-list-template">
  <div class="row">
    <div id="main-listing" class="col s10">
      <div class="card large z-depth-3">
        <div class="card-image valign-wrapper">
          <% if (poster_link != null) {%>
          <img src="<%= poster_link %>">
         <% } else { %>
          <img src="http://i.imgur.com/B3nAM6x.jpg?1">
          <% } %>
          </div>
          <div class="card-content  #ff5252 red accent-2 black-text">
            <a href='/show/<%= id %>'><h2 class="card-title"><%= title %></h2></a>
            <a href='/venue/<%= venue_id %>'><h4 class="venue_listing"><%= venue_name %></h4></a>
            <p><%= date %></p>
          </div>
        </div>
      </div>
    </div>
</script>
<script type="text/template" id="new-show-template">
  <form class="new-show-form">
    <div class="input-field col s6">
      <label>Title</label>
      <input name="title" type="text">
    </div>
    <div class="input-field col s6">
      <input name="date" type="date">
    </div>
    <div class="input-field col s6">
      <label>First Band</label>
      <input id="first-band-name" name="first_band" type="text">
    </div>
    <div class="input-field col s6">
      <label>Second Band</label>
      <input id="second-band-name" name="second_band" type="text">
    </div>
    <div class="input-field col s6">
      <label>Third Band</label>
      <input id="third-band-name" name="third_band" type="text">
    </div>
    <div class="input-field col s6">
      <label>Fourth Band</label>
      <input id="fourth-band-name" name="fourth_band" type="text">
    </div>
    <div class="input-field col s6">
      <label>Venue</label>
      <input id="new-show-venue" name="venue_name" type="text">
    </div>
    <div class="input-field col s6">
      <label>Poster</label>
      <input id="new-show-poster" name="poster_link" type="text">
    </div>
    <div class="input-field col s6">
      <button class="waves-effect waves-light btn" type="submit">Submit</button>
    </div>
  </form>
</script>
