

<div class="listing">

</div>

<script type="text/template" id="show-list-template">
  <div class="row #ff5252 red accent-2">
    <div class="col s12">
      <div class="card #ff5252 red accent-2">
        <div class="card-content black-text">
          <span class="card-title">Title: <%= title %></span>
          <p><%= date %></p>
          <p><%= venue_name %><p>

        </div>
      </div>
    </div>
  </div>
</script>
<script type="text/template" id="new-show-template">
  <form class="new-show-form">
    <label>Title</label>
    <input name="title" type="text">
    <label>Date</label>
    <input name="date" type="date">
    <label>First Band</label>
    <input id="first-band-name" name="first_band" type="text">
    <label>Second Band</label>
    <input id="second-band-name" name="second_band" type="text">
    <label>Third Band</label>
    <input id="third-band-name" name="third_band" type="text">
    <label>Fourth Band</label>
    <input id="fourth-band-name" name="fourth_band" type="text">
    <label>Venue</label>
    <input id="new-show-venue" name="venue_name" type="text">
    <input id="new-show-venue_id" name='venue_id' type="text" hidden="true">
    <button type="submit">Submit</button>
  </form>
</script>
