<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
    <script type="text/javascript" src='/javascripts/jquery.js'></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script type="text/javascript" src='/javascripts/underscore.js'></script>
    <script type="text/javascript" src='/javascripts/backbone.js'></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
  </head>
  <body>

    <nav>
    <div class="nav-wrapper #ff5252 red accent-2">
      <a href="/" class="logo"><img id="logo-img" src="http://i.imgur.com/SsbEvcZ.png" alt="Show Up" /></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="modal-trigger" href="#search-modal"><i class="material-icons">search</i></a></li>
        <li><a href="/new"><i class="material-icons">library_add</i></a></li>
        <li><a class="dropdown-button" data-activates='user-dropdown'><i class="material-icons">perm_identity</i></a></li>
        <li><a class="dropdown-button" data-activates='view-all-dropdown'><i class="material-icons">list</i></a></li>
      </ul>
    </div>
  </nav>

  <div id="search-modal" class="modal">
    <div class="input-field">
      <label>Search by Venue</label>
      <input  id="venue-search" name="venue_name" type="text" >
      <a id="v-search-link" href="" ><button id="venue-submit" class="search waves-effect waves-light btn" type="submit" disabled="disabled"><i class="material-icons">search</i></button></a>
    </div>
    <div class="input-field">
      <label>Search by Band</label>
      <input id="band-search" name="venue_name" type="text">
      <a id="b-search-link" href="" ><button id="band-submit" class="search waves-effect waves-light btn"  type="submit" disabled="disabled"><i class="material-icons">search</i></button></a>
    </div>
  </div>

  <ul id="view-all-dropdown" class="dropdown-content">
    <li><a href="/venues">All Venues</a></li>
    <li><a href="/bands">All Bands</a></li>
  </ul>

  <ul id="user-dropdown" class='dropdown-content'>
    <li><a href="/bands/new">Register</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/" id="logout">Logout</a></li>
  </ul>

    <div class="container">

    {{{body}}}

    </div>
  </body>
</html>
