<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
    <script type="text/javascript" src='/javascripts/jquery.js'></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script type="text/javascript" src='/javascripts/underscore.js'></script>
    <script type="text/javascript" src='/javascripts/backbone.js'></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="col s12 #ff5252 red accent-2">
        <h3 class="logo left align">Show Up</h3>
      </div>
    </div>
    <div class="container">
      <div class="">
        <label>Search by Venue</label>
        <input id="venue-search" name="venue_name" type="text">
        <button id="venue-submit" type="submit">Submit</button>
      </div>
      <div class="">
        <label>Search by Band</label>
        <input id="band-search" name="venue_name" type="text">
        <a id="b-search-link" href="" ><button id="band-submit" type="submit">Submit</button></a>
      </div>
      <hr>
    {{{body}}}

    </div>
  </body>
</html>
