<h1 class="blue-header">Login</h1>
<form class="signin">
  <div class="input-field col s6 white-text">
    <input type="text" id="signin-name" name="band_name" placeholder="name">
  </div>
  <div class="input-field col s6">
    <input type="password" id="signin-password" name="password" placeholder="password">
  </div>
  <div class="input-field col s6">
    <button id="signin-submit" class="waves-effect waves-light btn">Sign In</button>
</form>
