<h1>Login</h1>
<form class="signin" action="http://localhost:3000/sessions" method="post">
  <input type="text" name="band_name" placeholder="name">
  <input type="password" name="password" placeholder="password">
  <input type="submit" name="signin-submit" value="submit">
</form>
