<h1>Login</h1>
<form class="signin">
  <input type="text" id="signin-name" name="band_name" placeholder="name">
  <input type="password" id="signin-password" name="password" placeholder="password">
  <button id="signin-submit">Sign In</button>
</form>
