<div class="band-info">

</div>

<div class="band-shows">

</div>

<script type="text/template" id="band-header">
  <div>Band: <%= band_name %></div>
  <p>Email: <%= email %></p>
  <p>Website: <%= band_website %></p>
</script>

<script type="text/template" id="band-body">
  <div>Title: <%= title %></div>
  <p><%= date %></p>
  <a href='/venues/<%= venue_id %>'><%= venue_name %></a>
</script>

<script type="text/template" id="edit-band-template">
  <form class="edit-band-form">
    <label>Edit Email</label>
    <input name="email" type="email">
    <label>Edit Website</label>
    <input name='band_website' type="text"></input>
    <label>Photo</label>
    <input name="photo_link" type="text">
    <button id"edit-band-form" type="submit">Submit</button>
  </form>
</script>

<script type="text/javascript">

app.BandShowView = Backbone.View.extend({
  initialize: function() {
    console.log(this.model);
    this.model.on('sync', this.render, this)
  },
  render: function() {
    var options = {
      id: this.model.id
    }
    this.template = _.template($('#band-header').html());
    var data = this.model.attributes;
    console.log(data);
    this.$el.html(this.template(data));
  }
})



</script>
