<div class="row">


  <div class="show-info">

  </div>
  <h3 class="blue-header">Line Up</h3>

  <div class="show-bands">

  </div>
</div>
<script type="text/template" id="show-header">
  <h1 class="blue-header"><%= title %></h1>
  <div class="row">
        <div class="col s5">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><a href='/venue/<%= venue_id %>'><%= venue_name %></a></span>
              <p><%= date %></p>

            </div>
          </div>
        </div>
        <div class="showpage-poster col s4">
          <img src="http://i.imgur.com/B3nAM6x.jpg?1">
          <!-- <img src="<%= poster_link %>"> -->
        </div>
      </div>

</script>

<script type="text/template" id="show-body">
  <div class="row">
        <div class="col s6">
          <div class="card #ff5252 red accent-2">
            <div class="card-content black-text">
              <span class="card-title"><a href='/bands/<%= id %>'><%= band_name %></a></span>
              <a href="<%= band_website %>"><p><%= band_website %></p></a>
            </div>
          </div>
        </div>
      </div>
</script>

<script type="text/javascript">



var ShowView = Backbone.View.extend({
  initialize: function() {
    console.log(this.model);
    this.model.on('sync', this.render, this)
  },
  render: function() {
    var options = {
      id: this.model.id
    }
    this.template = _.template($('#show-header').html());
    var data = this.model.attributes;
    console.log(data);
    this.$el.html(this.template(data));
  }
})






</script>
