<!-- <div class="venue-info">

</div>

<div class="venue-shows">

</div>

<script type="text/template" id="venue-header">
  <div>Venue: <%= venue_name %></div>
  <p>Address: <%= address %></p>
  <p>Website: <%= venue_website %></p>
</script>

<script type="text/template" id="venue-body">

</script>

<script type="text/javascript">

</script> -->
