<div class="venue-info">

</div>

<div class="venue-shows">

</div>

<script type="text/template" id="venue-header">
  <div>Venue: <%= venue_name %></div>
  <p>Address: <%= address %></p>
  <p>Website: <%= venue_website %></p>
</script>

<script type="text/template" id="venue-body">
  <div>Title: <%= title %></div>
  <p><%= date %></p>
</script>

<script type="text/javascript">

app.VenueView = Backbone.View.extend({
  initialize: function() {
    console.log(this.model);
    this.model.on('sync', this.render, this)
  },
  render: function() {
    var options = {
      id: this.model.id
    }
    this.template = _.template($('#venue-header').html());
    var data = this.model.attributes;
    console.log(data);
    this.$el.html(this.template(data));
  }
})
</script>
